@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}

body {
    width: 90%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: .5em;

}
h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-top: 0;
}

h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-top: 0;
    width: 90%;
}

button {
    font-family: 'Nunito', sans-serif;
    border: none;
    font-style: normal;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    border-radius: 8px;
    width: 190px;
    height: 50px;
}

.default {
    background-color: white;
    position: absolute;
    bottom: 15.88%;
}

.primary.large {
    background: #FF9042;
    margin: 2.5em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    color: white;
}

.secondary.small {
    width: 110px;
    height: 30px;
    background: #6B97ED;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

}

.logomark {
    width: 12em;
    height: 12em;
    margin-top: 2em;
}

.background-shape {
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    border-radius: 50% 50% 0 0;
    background-color: #6B97ED;
    z-index: -1;
}

.section-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* challenges */

.challenges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .challenge-heading {
    display: flex;
    justify-content: space-between;
}  */

@media only screen and (max-width: 600px) and (max-height: 750px) {
    .logomark {
        width: 10em;
        height: 10em;
        margin-top: 0.5em;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

}